body{
    font-family: Helvetica, "Sans Serif";
    font-size: 20px;
}

.header{
    background-image: url(../files/logo-gray.png);
    background-size: 4em;
    background-repeat: no-repeat;
    background-color: #333;
    color: #efefef;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    overflow: hidden;
}
.header .backbtn{
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0em;
    text-align: center;
    width: 4em;
    padding: 1.5em 0;
    opacity: 0;
    background-color: white;
}
.backbtn:hover{
    opacity: 1;
    color: #333;
    transition: opacity .5s;
}
.header a:visited{
    color: transparent;
}
.header p{
    transform: translateY(50%);
}
.header .title{
    float: left;
    margin-left: 5em;
    
}
.header .user-info{
    float: right;
}
#logoutbutton{
    text-decoration: underline;
    color: inherit;
    padding: 0;
    margin: .5em;
}
#logoutbutton:hover{
    background-color: transparent;
}

.loginbkg{
    background-image: url(../files/logo.png);
    height: 280px;
    background-size: 100%;
}


.main-menu{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 2em 1em;
    background-color: #efefef;
}

.main-menu > a{
    color: inherit !important;
    padding: 1em;
}

.main-menu > a:hover{
    background-color: #0000000c;
    color: inherit;
}

.main-container{
    text-align: right;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding:1em 2em;
    background-color: #efefef;
}

.edit-form input[type="text"]{
    height: 2em;
    margin: .5em 0;
}

.new-form{
    line-height: 1.5em;
    margin: .1em 0px;
}

.new-form input[type="text"]{
    margin-top: 1em;
    height: 2em;
    background-color: whitesmoke;
}

.new-form input[type]:hover{
    background-color: white;
}

.search-form{
    min-width: 510px;
}
.search-form input[type]{
    height: 2em;
    margin: .25em 0px;
    background-color: whitesmoke;
}

.search-form input[type="submit"]{
    width: 15em;
    height: 3em;
}

.search-form input[type]:hover{
    background-color: white;
}

.login-container{
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding:35px 25px;
    background-color: #efefef;
    width: 280px;
}
.login-form select{
    margin-bottom: 1em;
    padding: 1em 0;
    width: 280px;
}
.login-form input{
    padding: 1em 3em;
}

.secondary-container{
    border-top: 1px dashed black;
    text-align: left;
    margin-top: 1em;
    padding-top: .8em;
}

.search-results{
    max-height: 35vh;
    overflow: scroll;
}
.search-results li:hover{
    background-color: #00000033 !important;
}
.search-results a:hover{
    background-color: #00000022;
}

.search-results li{
    list-style-type: none;
    margin-left: -2.5em;
    font-size: 14px;
    line-height: 1.6em;
    background-color: whitesmoke;
}

.search-results li:nth-of-type(even){
    background-color: inherit;
}
.structuralDiagram{
    position: fixed;
    top: 0;
    left: 100%;
    z-index: -5;
    opacity: 0;
}
.search-results li:hover .structuralDiagram{
    opacity: 1;
    transition: opacity 1s;
    border: 1em solid #efefef;
}










input[type="text"]:hover{
    cursor: auto;
}

a{
    color: #334488;
    text-decoration: none;
}
a:visited{
    color: #334488;
}
a:hover{
    color: #555588;
}