<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
    <title>LabDB 0.0.4 - Log In</title>
</head>
<body style="background-color: #333;">
    <div class="login-container">
        <div class="loginbkg"></div>
        <form action="" method="post" class="login-form">
            <select name="role">
                <option value="user">Usuario</option>
                <option value="admin">Administrador</option>
            </select><br>
            <select name="lab">
                {{labs}}
            </select><br>
            <input type="submit" value="Entrar">
        </form>
    </div>
</body>
</html>