<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
    <title>Crear un nuevo registro - LabDB 0.0.4</title>
</head>
<body>
    {{header}}
    <div class="main-container">
        <form action="" method="POST" class="new-form">
            Fórmula*: <input type="text" name="formula" autofocus required><br>
            Nombre*: <input type="text" name="name_common" required><br>
            Código CAS: <input type="text" name="cas" value="not set"><br>
            Localización: <input type="text" name="locations" value="unspecified"><br>
            Privado: <input type="checkbox" name="private" value="isPrivate"><br>
            Modo seguro: <input type="checkbox" name="secure" value="isSecure"><br>
            <input type="submit" value="Guardar">
        </form>
    </div>
</body>
</html>