<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
    <title>Búsqueda - LabDB 0.0.4</title>
</head>
<body>
    {{header}}
    <div class="main-container">
        <form action="" method="POST" class="search-form">
            Palabra&nbsp;clave:&nbsp;<input type="text" name="keyword" autofocus>→<input type="submit" name="b" value="Buscar por palabra clave"><br>
            Fórmula:&nbsp;<input type="text" name="formula">→<input type="submit" name="b" value="Buscar por fórmula"><br>
            Código&nbsp;CAS:&nbsp;<input type="text" name="cas">→<input type="submit" name="b" value="Buscar por código CAS"><br>
        </form>
        <div class="secondary-container">
            Resultados:
            <ul class="search-results">
                {{items}}
            </ul>
        </div>
    </div>
</body>
</html>